$deep-grey: #282c34;
$white-text: rgba(255,255,255, .89);

//sass variables:
//$logo
//$hamburger
//$viewcart
//$slogan
//$copyright
//$bgcolor
//$headercolor
//$footercolor
//$titlefont
//$font
//navfontcolor
//mainfontcolor

body {
  background-color: $deep-grey;
  color: blue;
}
